*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
   
}
/* Box1 */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
background-image: url("amazon_logo.png");
background-size: cover;
height: 50px;
width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}
/* box2 */
.adress-icon{
display: flex;

}

.add-first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 16px;
}

.add-sec{
    font-size: 0.87rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 3px;
}